@import '../../style-resources/mixins.scss';

.nav-tabs {
    position: relative;
    margin: 0 15px 0 0;
    padding-left: 35px!important;
    overflow: hidden;
    display: flex;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none!important;
    background: #132d46;
    .nav-item {
        position: relative;
        color: #F4F6F8;
        font-size: 18px;
        line-height: 50px;
        flex: 1 1 auto;
        border: none;
        &:last-child:after {
            display: none;
        }
        a {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -9px;
                width: 1px;
                background: #1d446b;
            }
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: block;
            cursor: pointer;
            padding: 0;
            height: 50px;
            border: none;
            color: #F4F6F8;
            text-align: center;
            &.active {
                color: #F4F6F8;
                background: #1d446b;
                &:after {display: none;}
            }
        }
    }
}
.tab-content {
    margin: -7px 15px 0 0;
}
.for-developers {
    position: relative;
    .bg {
        top: -5%;
        right: 73%;
        height: 1000px;
        width: 1000px;
        background-size: cover!important;
        position: absolute;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .subtitle {
        padding: 14px 0 0 0;
        margin: 0 0 23px;
    }
    min-height: 1020px;
    .row {
        align-content: center;
        align-items: center;
        min-height: 942px;
    }
    .row > div  {
        padding: 0;
    }
    .info {
        margin: 0 0 0 -12px;
    }
}

@media all and (max-width: 767px) {
    .for-developers {
        min-height: auto;
        padding: 85px 0 100px 0;
        border-top: 1px #DCE0E3 solid;
        .nav-tabs {
            .nav-item {
                font-size: 14px;
                line-height: 37px;
                a {
                    height: 40px;
                }
            }
        }
        .subtitle {
            margin: 0 0 11px;
        }
        .info {
            margin: 0;
        }
       .row {
            align-content: flex-start;
            min-height: auto;
           &>div {
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
               &:first-child {
                -webkit-order: 2;
                -ms-flex-order: 2;
                order: 2;
                padding: 40px 0 0 0;
               }
           }
       }
    }
}
@media all and (max-width: 500px) {
    .for-developers {
        .bg {
            top: 37%;
            left: 16%;
            right: inherit;
            height: 600px;
            width: 600px;
            background-size: cover !important;
            position: absolute;
        }
    }
}