@import '../../style-resources/mixins.scss';
.main-screen {
    position: relative;
    min-height: 1034px;
    padding: 250px 0 0 0;
    .subtitle {
        margin: 0;
        position: absolute;
        top: -20px;
        left: 0;
    }
    .bg {
        top: -15%;
        left: 59%;
        height: 1200px;
        width: 1200px;
        position: absolute;
    }
    p {
        font-size: 20px;
        line-height: 27px;
        color: #797E82;
        padding: 0 53px 0 0;
        margin:  0 0 10px;
    }
    .holder {
        padding: 0 60px 0 0;
    }
    .visual {
        margin: -27px -79px 0 -92px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .row > div {
        padding: 0;
    }
}