@import '../../style-resources/mixins.scss';
.onramp-page,
.connect-page,
.api-page {
    .main-screen {
        min-height: 945px;
        .visual {
            margin: -41px -158px 0 26px;
        }
    }
}
.pricing-page {
    .main-screen {
        padding: 198px 0 0 0;
        min-height: auto;
        .row > div {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .holder {
            padding: 0;
            text-align: center;
        }
        .btn-holder {
            display: none;
        }
        .visual {
            margin: 0;
        }
    }
}
.security-page {
    .main-screen {
        min-height: 894px;
        .visual {
            margin: -27px 0 0 30px;
        }
    }
}
.main-screen {
    position: relative;
    min-height: 1034px;
    padding: 250px 0 0 0;
    &.page {
        min-height: 945px;
        .visual {
            margin: -41px -158px 0 26px;
        }
    }
    .subtitle {
        margin: 0;
        position: absolute;
        top: -20px;
        text-transform: none;
        left: 0;
        margin: 0;
        position: absolute;
        top: -36px;
        text-transform: none;
        left: 0;
        letter-spacing: 0.01em;
        font-weight: 700;
        font-size: 18px;
    }
    .bg {
        top: -15%;
        left: 59%;
        height: 1200px;
        width: 1200px;
        position: absolute;
    }
    p {
        font-size: 20px;
        line-height: 27px;
        color: #797E82;
        padding: 0 53px 0 0;
        margin:  0 0 10px;
    }
    .holder {
        padding: 0 60px 0 0;
    }
    .visual {
        margin: -27px -79px 0 -92px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .row > div {
        padding: 0;
    }
}

@media all and (max-width: 767px) {
    .security-page {
        .main-screen {
            min-height: auto;
            padding: 125px 0 27px 0;
            .visual {
                margin: 0;
                text-align: center;
            }
        }
    }
    .pricing-page {
        .main-screen {
            min-height: auto;
            padding: 125px 0 27px 0;
            .visual {
                display: none;
            }
        }
    }
    .onramp-page,
    .connect-page,
    .api-page {
        .main-screen {
            min-height: auto;
            padding: 125px 0 27px 0;
            .subtitle {
                top: -23px;
                font-size: 17px;
            }
            .visual {
                margin: 9px -52px 0 27px;
                text-align: center;
            }
        }
    }
    .main-screen  {
        .visual {
            margin: 0;
        }
        min-height: auto;
        padding: 100px 0 90px 0;
        .holder {
            padding: 0;
            margin: 0 0 32px;
        }
        p {
            font-size: 16px;
            line-height: 21px;
            color: #797E82;
            padding: 0;
            margin: 0 0 5px;
        }
    }
}

@media all and (max-width: 500px) {
    .onramp-page,
    .connect-page,
    .api-page,
    .security-page {
        .main-screen {
           .bg {
                top: inherit;
                left: 57%;
                background-size: cover !important;
                height: 400px;
                width: 400px;
                position: absolute;
                bottom: 10px;
            }
        }
    }
    .main-screen  {
        .bg {
            top: 13%;
            left: 16%;
            background-size: cover!important;
            height: 630px;
            width: 630px;
            position: absolute;
        }
       
    }
}