@import '../../style-resources/mixins.scss';

.advantages {
    padding: 0 0 95px;
    .icon-big {
        text-align: center;
        display: none;
        margin: 0 0 7px;
        img {
            width: 39px;
        }
    }
    .head-sections {
        text-align: center;
        margin: 0 0 70px;
        h2 {
            margin: 0 auto;
            max-width: 776px;
        }
    }
    .advantages-holder {
        @include transition;
        height: 100%;
        transition: all 0.3s linear;
        width: 490px;
        box-sizing: border-box;
        padding: 47px 30px 43px 30px;
        &:hover {
            background: #fff;
            box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.1);
        }
    }
    .advantages-title {
        display: block;
        margin: 0 0 27px;
        text-align: center;
        font: 24px/26px 'Faktum Test Bold', sans-serif;
        color: #202124;
    }
    .advantages-block {
        justify-content: center;
        & > div:first-child {
            .advantages-holder {
                float: right;
            }
        }
    }
    .advantages-list {
        margin: 0;
        padding: 0 0 0 67px;
        list-style: none;
        li {
            font-size: 16px;
            line-height: 18px;
            color: #202124;
            margin: 0 0 23px;
            i {
                float: left;
                margin: 0 10px 0 0;
            }
        }

    }
}
@media all and (max-width: 1200px) {
    .advantages {
        padding: 86px 0 100px 0; 
        .advantages-holder {
            width: 100%;
            padding: 26px 10px 15px 10px;
            margin: 0 0 27px;
        }
        .advantages-title {
            margin: 0 0 9px;
        }
        .advantages-list {
            padding: 0 20px;
        }
        .advantages-block {
            justify-content: center;
            & > div:first-child {
                .advantages-holder {
                    float: none;
                }
            }
        }  
    }
}

@media all and (max-width: 767px) {
    .advantages {
        .head-sections {
            text-align: left;
            margin: 0 0 5px;
        }
        .icon-big {
            text-align: center;
            display: block;
        }
        min-height: auto;
        padding: 100px 0 100px 0;
        border-top: 1px #DCE0E3 solid;
        background: none!important;
        .advantages-list {
            padding: 0;
            li {
                text-align: center;
                margin: 0 0 14px;
                i {
                    display: none;
                }
            }
        }    
    }
}