
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #1d446b !important;
    margin: 0 !important;
    color: #F4F6F8 !important;
    font-size: 14px !important;
    text-shadow: none!important;
}
pre[class*="language-"] {
    max-height: 510px;
    padding-top: 20px;
    border-radius: 7px;
    box-shadow: 1px 35px 19px -7px rgba(0, 0, 0, 0.2);
}
.token.operator,
.token.entity,
.token.url,
.token.punctuation,
.language-css .token.string,
.style .token.string {
    color: #F4F6F8 !important;
    background: transparent !important;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #F4F6F8 !important;
}
.prism-code {
    text-align: left;
    position: relative;
    &:after {
        content:'';
        position: absolute;
        background: rgba(19, 45, 70, 0.36);
        left: 0;
        width: 35px;
        bottom: 0;
        top: 0;
    }
    .num {
        user-select: none;
        width: 35px;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 0 0;
    }
}
