@import '../../style-resources/variables.scss';

.wrapper {
	overflow: hidden;
}
.center {
	padding: 0 15px 0 15px;
	position: relative;
	max-width: 1230px;
	min-width: 290px;
	margin: 0 auto;
}
.nav-tabs {
    position: relative;
    margin: 0 15px 0 0;
    padding-left: 35px!important;
    overflow: hidden;
    display: flex;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none!important;
    background: #132d46;
    .nav-item {
        position: relative;
        color: #F4F6F8;
        font-size: 18px;
        line-height: 50px;
        flex: 1 1 auto;
        border: none;
        &:last-child:after {
            display: none;
        }
        a {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -9px;
                width: 1px;
                background: #1d446b;
            }
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: block;
            cursor: pointer;
            padding: 0;
            height: 50px;
            border: none;
            color: #F4F6F8;
            text-align: center;
            &.active {
                color: #F4F6F8;
                background: #1d446b;
                &:after {display: none;}
            }
        }
    }
}
.tab-content {
    margin: -7px 15px 0 0;
}
.onramp-page {
	span.subtitle {
        color: $onramp-page-color;
    }
}
.connect-page {
	span.subtitle {
        color: $connect-page-color;
    }
}
.api-page {
	span.subtitle {
        color: $api-page-color;
    }
}

