@font-face {
	font-family: 'Faktum Test Regular';
	src: url('./sources/Rene Bieder - Faktum Test Regular.eot');
	src: local('☺'), url('./sources/Rene Bieder - Faktum Test Regular.woff') format('woff'),
    url('./sources/Rene Bieder - Faktum Test Regular.ttf') format('truetype'),
    url('./sources/Rene Bieder - Faktum Test Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Faktum Test Bold';
	src: url('sources/Rene Bieder - Faktum Test Bold.eot');
	src: local('☺'), url('sources/Rene Bieder - Faktum Test Bold.woff') format('woff'),
	 url('sources/Rene Bieder - Faktum Test Bold.ttf') format('truetype'),
	url('sources/Rene Bieder - Faktum Test Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}