
.how-it-works {
    padding: 0 0 152px;
    .graph {
        padding: 51px 0 74px;
        align-items: flex-end;
        margin: 0 -75px;
        justify-content: center;
        div {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 63px;
                top: 40px;
                z-index: 2;
                left: 85%;
                height: 20px;
                background: url(../../assets/img/SVG/icons-data.svg) 50% 50% no-repeat;
            }
            &:last-child {
                &:after  {
                    display: none;
                }
            }
            text-align: center;
            background: #f5f6f8;
            &:last-child {
                .visual {
                    &:before  {
                        display: none;
                    }
                    &:after  {
                        display: none;
                    }
                }
            }
            .visual {
                &:before {
                    content: '';
                    position: absolute;
                    width: 200%;
                    top: 49px;
                    left: 100%;
                    height: 2px;
                    background: #DCE0E3;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 63px;
                    top: 40px;
                    left: 160%;
                    height: 20px;
                    background: url(../../assets/img/SVG/icons-data.svg) 50% 50% no-repeat;
                }
                display: inline-block;
                z-index: 20;
                background: #f5f6f8;
                z-index: 2;
                padding: 0 25px;
                position: relative;
                text-align: center;
            }
        }
    }
    .circle {
        div {
            text-align: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                bottom: 100%;
                left: 51%;
                height: 100%;
                background: #DCE0E3;
            }
            &:after {
                content: '';
                position: absolute;
                width: 27px;
                bottom: 100%;
                z-index: 2;
                padding: 0;
                margin: 0 0 0 -20px;
                left: 50%;
                height: 88px;
                background: url(../../assets/img/SVG/icon-symbols.svg) 50% 50% no-repeat;
            }
        }
    }
    .head-sections {
        text-align: center;
        max-width: 580px;
        margin: 0 auto;
    }
    .items {
        padding: 27px 0 0 0;
        margin: 0 -30px;
        .item {
            margin: 0 0 40px;
        }
    }
    .visual {
        min-height: 90px;
        line-height: 90px;
        margin: 0 0 9px;
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

}
@media all and (max-width: 1200px) {
    .how-it-works {
        .graph {
            div {
                .visual {
                    &:before {
                        width: 150%;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 767px) {
    .how-it-works {
        padding: 80px 0;
        border-top: 1px #DCE0E3 solid;
        .head-sections {
            text-align: left;
        }
    }
}
@media all and (max-width: 575px) {
    .how-it-works {
        .graph {
            padding-bottom: 103px;
            div {
            &:after {
                content: '';
                left: 50%;
                transform: rotate(90deg);
                bottom: 44px;
                z-index: 20;
                top: inherit;
                margin: 0 0 0 -31px;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }   
            &:first-child{
                .visual {
                    &:before {
                        display: none;
                    }
                }
            }
            &:last-child {
                .visual {
                    margin: 0;
                    &:before {
                        display: block;
                    }
                }
            }
            .visual  {
                  margin: 0 0 103px;
                  &:before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    bottom: 100%;
                    top: inherit;
                    left: 50%;
                    height: 100%;
                    background: #DCE0E3;
                }
              }
            }  
        }
    }
}