@media all and (max-width: 767px) {
	h1 {
		font: 40px/36px 'Faktum Test Bold', sans-serif;
		color: #202124;
		margin: 0 0 16px;
		letter-spacing: -0.025em;
	}
	h2 {
		font: 36px/40px 'Faktum Test Bold', sans-serif;
		color: #202124;
		letter-spacing: -0.02em;
		margin: 0 0 10px;
	}
}