@media all and (max-width: 767px) {
	h1 {
		font: 40px/36px 'Faktum Test Bold', sans-serif;
		margin: 0 0 16px;
		letter-spacing: -0.025em;
	}
	h2 {
		font: 36px/40px 'Faktum Test Bold', sans-serif;
		letter-spacing: -0.02em;
		margin: 0 0 10px;
	}
	span.subtitle {
		margin: 0 0 9px;
	}
	p {
		line-height: 22px;
	}
}