@import '../../style-resources/mixins.scss';
@import '../../style-resources/variables.scss';

.onramp-page {
    .btn-holder {
        button {
            color: $onramp-page-color;
            border-bottom: 1px solid $onramp-page-color;
            &.api-key-btn {
                @include gradient-onramp;
            }
        }
    }
}
.connect-page {
    .btn-holder {
        button {
            color: $connect-page-color;
            border-bottom: 1px solid $connect-page-color;
            &.api-key-btn {
                color: $title-color;
                @include gradient-connect;
            }
        }
    }
}
.api-page {
    .btn-holder {
        button {
            color: $api-page-color;
            border-bottom: 1px solid $api-page-color;
            &.api-key-btn {
                @include gradient-api;
            }
        }
    }
}
.btn-holder {
    padding: 15px 0 0 0;
    white-space: nowrap;
    span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 13px 0 21px;
    }
    button {
        position: relative;
        @include transition;
        outline: none;
        min-height: auto;
        background: transparent;
        border: none;
        color: $main-page-color;
        padding: 0;
        border-bottom: 1px solid $main-page-color;
        letter-spacing: 0.1em;
        &.api-key-btn {
            min-height: 60px;
            font: 14px/14px 'Faktum Test Bold', sans-serif;
            @include box-shadow;
            border-radius: 5px;
            letter-spacing: 0.11em;
            min-width: 181px;
            border: none;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            @include gradient-main;
        }
        &:hover {
            outline: none;
            opacity: 0.7;
            border-bottom-color: transparent;
        }
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
            top: -3px;
        }
    }
}

@media all and (max-width: 767px) {
    .btn-holder {
        font-size: 12px;
        white-space: normal;
        span {
            margin: 0 12px;
        }
        button.api-key-btn {
            min-height: 48px;
            font: 12px/14px 'Faktum Test Bold', sans-serif;
            min-width: 153px;
        }
    }
}