
.api-page, .security-page {
    .list-items {
        background: #fff;
        padding: 149px 0 223px 0;
        margin: 0 0 -150px;
        .head-sections {
            max-width: 800px;
            margin: 0 0 19px;
        }
    }
} 
.list-items {
    min-height: 600px;
    .items {
        padding: 27px 0 0 0;
        margin: 0 -30px;
        .item {
            margin: 0 0 40px;
        }
    }
    .visual {
        min-height: 90px;
        line-height: 90px;
        margin: 0 0 9px;
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

}