.companys {
    padding: 0 0 69px;
    h2 {
        text-align: center;
    }
    .subtitle {
        color: #01BBD5;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 0 30px;
    }
    .head {
        margin: 0 0 62px;
    }
    .companys-list {
        justify-content: center;
        align-items: center;
        margin: 0 -51px 50px -51px;
        & > div {
            flex: 1 1 auto;
            margin: 0 0 25px;
            .visual {
                text-align: center;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}