.table {
  padding: 100px 0 85px 0;
  .table-holder {
    padding: 0 100px 0 100px;
  }
  table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    th {
      text-transform: uppercase;
      font: 16px/18px 'Faktum Test Bold', sans-serif;
      padding: 25px 5px 17px 5px;
      color: #979DA2;
      border-bottom: none;
      span {
        text-transform: none;
        font: 24px/26px 'Faktum Test Bold', sans-serif;
        display: block;
        margin: 0 0 3px;
        color: #202124;
      }
    }
    td {
      color: #50565A;
      font-size: 16px;
      line-height: 18px;
      vertical-align: middle;
      padding: 30px 0px 35px 0px;
      &:first-child {
        text-align: left;
        width: 22%;
        font-size: 12px;
      }
      span {
        text-transform: uppercase;
        display: block;
        margin: 0 0 2px;
        font: 16px/18px 'Faktum Test Bold', sans-serif;
      }
    }
    button {
      background: none;
      border: none;
      letter-spacing: 0.1em;
      color: #01BBD5;
      text-transform: uppercase;
      font: 13px/15px 'Faktum Test Bold', sans-serif;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      display: inline-block;
      text-align: center;
    }
  }
}
  
  