@import '../../style-resources/mixins.scss';
@import '../../style-resources/variables.scss';

.api-page .code-samples {
    background: none!important;
    min-height: auto;
    padding: 122px 0 127px 0;
    .head-sections {
        margin: 0 0 -14px;
    }
    .description-list {
        padding: 45px 0 0 0;
    }
}
.code-samples {
    min-height: 1050px;
    .description-list {
        .item {
            cursor: pointer;
            position: relative;
            @include transition;
            &:hover {
                background: #fff;
                -webkit-box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.1);
                h3 {
                    color: #E71F64; 
                }
            }
            &:hover::before {
                opacity: 1;
            }
            &:after {
                content: '';
                top: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
            }
            .head {
                position: relative;
                margin: 0 32px 6px 0;
            }
            .info-box {
                font-family: 'PT Mono', monospace;
                color: #00ACC3;
                .type {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 9px 0 0;
                    color: #E71F64;
                    text-transform: uppercase;
                    &.get {
                        color: #6BBF10;
                    }
                }
            }
            h3 {
                @include transition;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: 0.04em;
            }
            p {
                font-size: 14px;
                line-height: 16px;
                color: $text-color;
                margin: 0;
            }
            padding: 18px 29px 19px 20px;
            margin: 0 18px 4px 0;
            &:before {
                content: '';
                opacity: 0;
                @include transition;
                transition: all 0.3s linear;
                position: absolute;
                top: 50%;
                margin: -10px 0 0 0;
                right: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-left: 10px solid #fff;
                border-bottom: 10px solid transparent;
            }
        }
        .head {
            display: flex;
            justify-content: space-between;
        }
    }
    .nav-tabs {
        margin: 0 0 0 15px;
        position: relative;
        z-index: 1;
    }
    .tab-content {
        margin: -7px 0px 0 15px;
    }
    padding: 122px 0 0 0;
    .head-sections {
        margin: 0 0 37px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .subtitle {
        padding: 14px 0 0 0;
        margin: 0 0 23px;
    }
    .row > div  {
        padding: 0;
    }
    .info {
        margin: 0 0 0 -12px;
    }
    .collapse:not(.show) {
        display: block;
    }
}
@media all and (max-width: 767px) {
    .code-samples {
        .nav-tabs {
            margin: 0;
        }
        .tab-content {
            margin: -7px 0px 0 0;
        }
        .collapse:not(.show) {
            display: none;
        }
        min-height: auto;
        padding: 86px 0 100px 0;
        border-top: 1px #DCE0E3 solid;
        background: none!important;
        .subtitle {
            margin: 0 0 11px;
        }
        .head-sections {
            margin: 0 0 16px;
        }
       .description-list {
        .item {
            padding: 0;
            margin: 0 0 20px;
            &.active {
                &:before {
                    -moz-transform: rotate(270deg);
                    -webkit-transform: rotate(270deg);
                    -o-transform: rotate(270deg);
                    -ms-transform: rotate(270deg);
                    transform: rotate(270deg);
                }
                .text {
                    @include transition;
                    opacity: 1;
                    z-index: 1;
                    max-height: 600px;
                    overflow: hidden;
                }
            }
            .text {
                @include transition;
                opacity: 0;
                z-index: -1;
                max-height: 0;
                overflow: hidden;
            }
            &:after {
                display: none;
            }
            &:hover {
                background: none;
                box-shadow: none;;
                h3 {
                    color: inherit; 
                }
            }
            .head {
                margin: 0;
                padding: 16px 52px 11px 16px;
                border-radius: 7px;
                background: #fff;
                @include box-shadow;
            }
            p {
                padding: 10px 0 0 0;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
            &:before {
                opacity: 1;
                border-left: 8px solid #BFC4C8;
                top: 30px;
                right: 16px;
                z-index: 20;
                border-bottom: 7px solid transparent;
                border-top: 7px solid transparent;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
       }
       pre[class*="language-"] {
            max-height: 370px;
        } 
    }
}
@media all and (max-width: 500px) {
    .code-samples {
        .description-list {
            .item h3 {
                white-space: nowrap;
                max-width: 124px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        } 
    } 
}
